#root {
  max-width: 100%;
  margin: 0 auto;
}

/* Global styles to prevent horizontal scrolling */
html, body {
  overflow-x: hidden; /* Disable horizontal scrolling */
  width: 100%; /* Ensure full-width */
  margin: 0; /* Remove default margin */
}

/* Make sure the hero section stretches across the entire viewport */
.hero {
  width: 100vw; /* Full width of the viewport */
  overflow: hidden; /* Prevent any overflow from causing scroll */
}

/* Ensure sections like the footer and content fill the screen properly */
footer, .container, .carousel-wrapper {
  width: 100%; /* Full width */
}

/* Remove any extra padding or margins that might contribute to extra width */
body {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

section {
  padding: 20px;
}

h1{
  font-size: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#app-nav-bar {
  position: 'absolute';
  z-index: 999
}

.drawer-side {
  z-index: 1000;
}

.toast {
  z-index: 1001;
}